<h1>Configuration</h1>
<div class="form">
    <form ng-submit="data.sendSettings()" >
        <div class="form-group">
            <label for="nbr_img">Number of images</label>
            <button class="btn btn-info btn-xs btn-rnd" type="button" data-toggle="collapse" placeholder="Max 50"  data-target="#numberofimage" aria-expanded="false" aria-controls="numberofimage">
                Info
            </button>
            <div class="collapse" id="numberofimage">
                <div class="well">
                    <p>Number of images to acquire</p>
                </div>
            </div>
            <input type="number" class="form-control" id="nbr_img" placeholder="Between 1 and 50" ng-model="data.settings.nbr_img" min="1" max="50" required>
        </div>

        <div class="form-group">
            <label for="length_ramp">Length of the ramp</label>
            <button class="btn btn-info btn-xs btn-rnd" type="button" data-toggle="collapse" data-target="#lengthramp" aria-expanded="false" aria-controls="lengthramp">
                Info
            </button>
            <div class="collapse" id="lengthramp">
                <div class="well">
                    <p>% of the Period you want to see appearing on the acquired images</p>
                </div>
            </div>
            <input type="number" class="form-control" id="length_ramp" placeholder="Between 1 and 100" ng-model="data.settings.length_ramp" min="0" max="100" step="1">
        </div>

        <div class="form-group">
            <label for="position_ramp">Position of the ramp</label>
            <button class="btn btn-info btn-xs btn-rnd" type="button" data-toggle="collapse" data-target="#positionramp" aria-expanded="false" aria-controls="positionramp">
                Info
            </button>
            <div class="collapse" id="positionramp">
                <div class="well">
                    <p>Position of the Ramp on the acquired signal (Used only if length of the ramp was set to anything else than 100%). It will define what part of the image you want to see (The first echoes or the last ones)</p>
                </div>
            </div>
            <input type="number" class="form-control" id="position_ramp" placeholder="Between 1 and 100" ng-model="data.settings.position_ramp" min="0" max="100" step="1">
        </div>

        <div class="form-group">
            <label for="nbrPix">Number of samples</label>
            <button class="btn btn-info btn-xs btn-rnd" type="button" data-toggle="collapse" data-target="#nbr_Pix" aria-expanded="false" aria-controls="nbr_Pix">
                Info
            </button>
            <div class="collapse" id="nbr_Pix">
                <div class="well">
                    <p>The number of saved points per lines. This number is a power of two (by exemple, if you set 3, you will have 2³ images, which means 8 pixels per lines)</p>
                </div>
            </div>
            <select class="form-control" id="nbrPix" placeholder="Between 2 and 16384" ng-model="data.settings.nbrPix">
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="8">8</option>
                <option value="16">16</option>
                <option value="32">32</option>
                <option value="64">64</option>
                <option value="128">128</option>
                <option value="256">256</option>
                <option value="512">512</option>
                <option value="1024">1024</option>
                <option value="2048">2048</option>
                <option value="4096">4096</option>
                <option value="8192">8192</option>
                <option value="16384">16384</option>
            </select>
        </div>

            <div class="form-group">
                <label for="decimation">Decimation</label>
                <button class="btn btn-info btn-xs btn-rnd" type="button" data-toggle="collapse" data-target="#dcmtion" aria-expanded="false" aria-controls="dcmtion">
                    Info
                </button>
                <div class="collapse" id="dcmtion">
                    <div class="well">
                        <p>The Decimation is the number of ignored points you have between two saved points. This number will be a power of 8 (if you set it to 1, you will have 8¹ points between two saved points, which means 8 points between two saved points). The values of each saved points are averaged with the ignored ones</p>
                    </div>
                </div>
                <input type="number" class="form-control" id="decimation" placeholder="Between 1 and 5" ng-model="data.settings.decimation" min="1" max="5" step="1">
            </div>

            <div ng-show ="data.process == 'ko'"><button type="submit" class="btn btn-default right" ng-click ="data.setProcess()">Next</button></div>
            <div ng-show ="data.process == 'ok'" class="btn btn-default right">Processing ... please wait a few seconds.</div>
    </form>
</div>




<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body ng-app="">

    <label for="b_mesu">Start of measurement</label>
    <input  type="number"  id="b_mesu" placeholder="Between 0 and 131" min="0" max="131" step="1" ng-click="b_mesu_ctrl=">

<label for="e_mesu">Endof measurement</label>
    <input  type="number"  id="e_mesu" placeholder="Between {{b_mesu_ctrl}} and 131" min="15" max="131" step="1">
           
<p>Click the button:</p>

<input type="number" id="numb" placeholder="yolo" ng-click="count">

<p>The button has been clicked {{count.val}} times.</p>

<p>This example increases the value of the variable "count" every time you 
</body>
</html>