{% extends 'demo/base.html' %}

{% load bootstrap3 %}

{% block title %}
    Echopen Challenge
{% endblock %}

{% block content %}

<form role="form" method="post" enctype="multipart/form-data" {% if layout != 'vertical' %}class="form-{{ layout }}"{% endif %}>
        {% csrf_token %}

<div class="container">
  <h2>Denoising Image  Challenge</h2>
  <p>Submit a code for image denoising</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Name</th>
        <th>Rank</th>
        <th>Score</th>
        <th>Time</th>
        <th>Cpu</th>
        <th>Image Fidelity</th>
      </tr>
    </thead>
      {% for r in object %}        
      <td width="20%">{{r.process_date}}</td>
      <td width="10%">{{r.name}}</td>
      <td width="10%">{{r.ranking}}</td>
      <td width="10%">{{r.rating}}</td>
      <td width="10%">{{r.time}}</td>
      <td width="10%">{{r.cpu}}</td>
     <td width="10%">100</td>
      <td width="1%">{% bootstrap_button '' button_class="btn-success" size='sm' icon='info-sign' %}</td>
      <td width="1%">{% bootstrap_button '' button_class="btn-warning" size='sm' icon='camera' %}</td>
      <td width="1%">{% bootstrap_button '' button_class="btn-info" size='sm' icon='download' %}</td>            
      </tr>
      {% endfor %}
  </table>
     <p>{% bootstrap_pagination object url="/leaderboard?page=1&flop=flip" extra="q=foo" size="small" %}</p>

    {% bootstrap_button 'Apply'  button_class="btn-success" size='sm'  %}

    {% bootstrap_button 'How to apply' size='sm' icon='sound-video' %}

    {% bootstrap_form form layout=layout %}
    
</form>


{% endblock %}
